body{
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    width: 90%;
    text-align: center;
}
main{
    width: 90%;
}

main h4{
    margin-bottom: 0%;
}
main p {
    margin-top: 3px;
}

.info p{
    font-family: 'Pacifico', cursive;
    font-size: larger;
}
.imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.imagen{
    height: 20pc;
    
}

.imagen img {
    height: 100%;
    box-shadow: 0 0 .80em #01c4e7;
    border-style: solid;
    border-radius: 5px;
    border-width: 2cap;
    border-color: #00a3c0;
}